* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  background-size: cover;
  background-repeat: no-repeat;
  height: 130vh;
  color: #000;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
}

input:focus,
input:focus-visible {
  outline: none;
}

.img-container::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  opacity: 0.7;
}
